/* Scroll Bar */

::-webkit-scrollbar {
  width: 10px;
  background-color: #1a1b1e;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    180deg,
    rgba(170, 54, 124, 0.5) -5.91%,
    rgba(74, 47, 189, 0.5) 111.58%
  );
  border-radius: 2px;
}

/* Progress Bar */

#nprogress {
  position: relative;
  z-index: 999999;
}

#nprogress .bar {
  background: #6741d9 !important;
  height: 3px;
}
